Set up the environment

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
df = pd.read_csv('mock_superstore_dataset.csv')

In [23]:
print("Dataset shape: ", df.shape)

Dataset shape:  (998, 21)

View the data

In [24]:
print("\nColumn Information:")
print(df.info())  # Data types and missing values

Column Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 998 entries, 0 to 997
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         998 non-null    int64
 1   Order ID       998 non-null    int64
 2   Order Date     998 non-null    object
 3   Ship Date      998 non-null    object
 4   Ship Mode      998 non-null    object
 5   Customer ID    998 non-null    int64
 6   Customer Name  998 non-null    object
 7   Segment        998 non-null    object
 8   Country        998 non-null    object
 9   City           998 non-null    object
 10  State          165 non-null    object
 11  Postal Code    474 non-null    object
 12  Region         998 non-null    object
 13  Product ID     998 non-null    int64
 14  Product Name   998 non-null    object
 15  Sales          998 non-null    object
 16  Category       998 non-null    object
 17  Sub-Category   998 non-null    object
 18  Quantity       998 non-null    int64
 19  Discount       998 non-null    float64
 20  Profit         998 non-null    object
dtypes: float64(1), int64(5), object(15)
memory usage: 163.9+ KB
None

In [28]:

print("Column Inforamtions:")
print(df.info())

Column Inforamtions:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 998 entries, 0 to 997
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         998 non-null    int64
 1   Order ID       998 non-null    int64
 2   Order Date     998 non-null    object
 3   Ship Date      998 non-null    object
 4   Ship Mode      998 non-null    object
 5   Customer ID    998 non-null    int64
 6   Customer Name  998 non-null    object
 7   Segment        998 non-null    object
 8   Country        998 non-null    object
 9   City           998 non-null    object
 10  State          165 non-null    object
 11  Postal Code    474 non-null    object
 12  Region         998 non-null    object
 13  Product ID     998 non-null    int64
 14  Product Name   998 non-null    object
 15  Sales          998 non-null    object
 16  Category       998 non-null    object
 17  Sub-Category   998 non-null    object
 18  Quantity       998 non-null    int64
 19  Discount       998 non-null    float64
 20  Profit         998 non-null    object
dtypes: float64(1), int64(5), object(15)
memory usage: 163.9+ KB
None

In [30]:
print("Summary Statistics:")
print(df.describe())

Summary Statistics:
           Row ID     Order ID  Customer ID   Product ID    Quantity  \
count  998.000000   998.000000   998.000000   998.000000  998.000000
mean   499.500000  5634.105210  5738.059118  5422.319639   49.850701
std    288.242086  2616.442232  2633.311920  2606.549164   28.046650
min      1.000000  1003.000000  1017.000000  1009.000000    1.000000
25%    250.250000  3425.250000  3461.750000  3261.000000   27.000000
50%    499.500000  5705.000000  6008.000000  5369.500000   50.000000
75%    748.750000  7934.250000  7990.750000  7651.750000   73.000000
max    998.000000  9997.000000  9996.000000  9970.000000  100.000000

         Discount
count  998.000000
mean     0.246393
std      0.145035
min      0.000000
25%      0.120000
50%      0.240000
75%      0.370000
max      0.500000

In [31]:
print("Missinf Values:")
print(df.isnull().sum())

Missinf Values:
Row ID             0
Order ID           0
Order Date         0
Ship Date          0
Ship Mode          0
Customer ID        0
Customer Name      0
Segment            0
Country            0
City               0
State            833
Postal Code      524
Region             0
Product ID         0
Product Name       0
Sales              0
Category           0
Sub-Category       0
Quantity           0
Discount           0
Profit             0
dtype: int64

Handling missing values

In [44]:
df.fillna(0, inplace=True)  # Fill missing values with the mean